body{
    background-color: lightgrey;
    margin: 0
}
.heading {
    background-color: white;
}
div.post {
    background: white
}
header h1 {
    margin: 0
}
div.container{
    width: 500px;
    margin: auto
}
.post{
    position: relative;
    top: 21px
}
.post-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}